
#!/usr/bin/env sh
# Source this file:  source env.sh

# ---- pipeline identity ----
export PIPELINE_DATASET_NAME="lsst-2"
export PIPELINE_MINOR_VERSION=1

# ---- directories ----
export PIPELINE_DATASET_DIR="./data"
export PIPELINE_DIR="$HOME/pipelines"
export PIPELINE_NAME="p_lsst_1"

# ---- labels ----
export PIPELINE_LABEL_DEF_CSV="catalogs/hst/sfq_labels.csv"

# ---- optional skycoord defaults ----
# export PIPELINE_FRAME="icrs"
# export PIPELINE_OBSTIME="J2000"
# export PIPELINE_EQUINOX="J2000"
