
#!/usr/bin/env sh
# Source this file:  source env.sh

# ---- Probably don't need to change these ----
export PIPELINE_DIR="$HOME/pipelines"
export PIPELINE_DATASET_DIR="$PIPELINE_DIR/data"

# ---- labels ----
export PIPELINE_LABEL_DEF_CSV="labels.csv"

